.content {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    margin-left: 30px;
}
.ui-slider-horizontal {
    width: 96%;
}
.ui-slider-horizontal .ui-slider-range {
    background-color: #ff930f;
}
.ui-slider-control-plus,
.ui-slider-control-minus {
    width: 26px;
    height: 26px;
    position: absolute;
    z-index: 99;
    margin: -7px 0 0 -13px;
    line-height: 26px;
}
.ui-slider-control-plus:after,
.ui-slider-control-minus:after {
    position: absolute;
    width: 26px;
    height: 26px;
    text-align: center;
}
.ui-slider-control-plus:after {
    /*content: "\f196";
    font-family: FontAwesome;*/
    content: "+";
    font-weight: bold;
    font-size: 1em;
    color: #43838c;
}
.ui-slider-control-minus:after {
    /*content: "\f00d";
    font-family: FontAwesome;*/
    content: "x";
    font-weight: bold;
    font-size: 1em;
    color: #fff;
}
.ui-slider-control-minus,
.ui-slider-control-plus,
.ui-slider-handle {
    cursor: pointer !important;
}
.steps {
    position: relative;
    height: 60px;
    margin-bottom: 5px;
}
.step {
    float: left;
    background-color: #43838c;
    height: 60px;
    border: 1px solid #43838c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.step_content {
    background-color: #e9f4f8;
    height: 100%;
}
.tick {
    border: 1px solid transparent;
    position: absolute;
    margin-left: -.6em;
    margin-top: -20px;
    text-align: center;
    color: #43838c;
}
.ui-slider-handle {
    background-color: #e9f4f8;
    border: 1px solid #43838c !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: none;
    background-color: #43838c;
}
.ui-slider .ui-slider-handle {
    text-decoration: none;
}
.ui-widget-content {
    border: 0px !important;
}
.handle_label {
    position: absolute;
    font-size: .9em;
    margin-top: 2.3em;
    margin-left: -1em;
    /*apex
    margin-top: -2.8em;
    margin-left: -1em;
    */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background: rgba(255, 255, 255, 0.9);
    padding: .2em;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color: #43838c;
}
/* code */

.code {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    color: #998;
    font-style: italic;
}
